

.title{
	font-family: arial;
	margin: auto;
	border: solid 9px rgb(248,240,120);
	width: 60%;
	padding-left: 15px;
}

.navigation li,.navigation a{
	text-decoration: none;
	display: inline;
	color: rgb(90,90,90);
	padding-right: 5px;
}

.navigation{
	float: left;
}

ul a:hover{
	text-decoration: underline;
	color:rgb(250,190,30); 
}

h1{
	width: 650px;
	margin: 0 30px 0 0;
	text-align: center;
	font-size: 70px;
}

.title #line{
	float: right;
	margin-right: 150px;
}

.title h2{
	margin-bottom:0;
	text-align: right;
	margin: 10px 60px 10px 0;
	font-size: 30px;
}


.body img{
	float: left;
	width: 180px;
	height: 180px;
	margin-left: -20px;
}
.body{
	width: 62%;
	margin: auto;
	margin-top: 0;
}

.body h2{
	font-family: Microsoft YaHei;
	margin: 0;
	font-size: 30px;
}
.body ul{
	list-style: none;
	margin: 0 0 0 500px;
	padding-left: 0;
}

.body a{
	text-decoration: underline;
	color: rgb(150,150,150);
}

.body a:hover{
	text-decoration: underline;
	color:rgb(250,190,30);
}

.body li{
	display: inline;
	color: rgb(150,150,150);
}

.body li:after{
	content: '|';
}

.body li:last-child:after{
	content: '';
}



.wrap p{
	line-height: 25px;
	text-indent: 35px;
	font-family: Microsoft YaHei;
	font-size: 15px;
}

.viewmore{
	margin-left:760px;
}


.message{
	font-family: arial;
	margin: auto;
	width: 62%;
	padding-left:0;
}
.message ul{
	list-style: none;
	padding-left: 0;
}


label{
	display: block;
	margin-bottom: 5px;
	color: rgb(250,190,30);
	font-weight: bold;
	cursor: pointer;
}

textarea{
	width:60%;
	height: 70px;
	font-family: arial;
}

#line{
	margin: auto;
}