html, body, .wrap {
	height: 100%;
	font-family: Arial, sans-serif;
	letter-spacing: 3px;
	text-align: center;
}

.week {
	width: 700px;
	margin-left: 350px;
}

.clear{
	clear: both;
}

.tab {
	position: relative;
	background-color: rgba(0,0,0,.8);
	float: left;
	text-indent: 30px;
	bottom: 10px;
	width: 90px;
	height: 100px;
	color: rgba(255,255,255,.8);
}

.day {
	position: absolute;
	bottom: 0;
}

#today {
	background-color: #dd0050;
	color: #fff;
	width: 100px;
	height: 250px;
	font-size: 2em;
	right: 5px;
	text-shadow: 3px 2px 1px rgba(0,0,0,.3);
}

#today h3 {
	right: 5px;
	bottom: -25px;
}

.message {
	width: 800px;
	height: 250px;
	border: 3px dashed #dd0050;
	position: absolute;
	margin: 0px 280px;
}

.message p {
	margin: 50px 0 0 70px;
	width: 700px;
	color: #dd0050;
	font-size: 1.5em;
	text-align: left;
	display: none;
}