.breathing {
	-webkit-animation: breathing 15s ease-in-out;
	-webkit-animation-fill-mode: forwards;
}
.rolling2 {
	-webkit-animation: rolling2 15s ease-in-out;
	-webkit-animation-fill-mode: forwards;
}
.rolling3 {
	-webkit-animation: rolling3 15s ease-in-out;
	-webkit-animation-fill-mode: forwards;
}
.rolling4 {
	-webkit-animation: rolling4 15s ease-in-out;
	-webkit-animation-fill-mode: forwards;
}

.child1 {
	-webkit-animation: child1 15s ease-in-out;
	-webkit-animation-fill-mode: forwards;
}

.child2 {
	-webkit-animation: child2 15s ease-in-out;
	-webkit-animation-fill-mode: forwards;
}

.child3 {
	-webkit-animation: child3 15s ease-in-out;
	-webkit-animation-fill-mode: forwards;
}

.child4 {
	-webkit-animation: child4 15s ease-in-out;
	-webkit-animation-fill-mode: forwards;
}

.child5 {
	-webkit-animation: child5 15s ease-in-out;
	-webkit-animation-fill-mode: forwards;
}

/*breathing*/
@-webkit-keyframes breathing {
	0% {opacity: .3;}
	5% {opacity: 1;}
	10% {opacity: .3;}
	15% {opacity: 1;}
	20% {opacity: .3;}
	25% {opacity: 1;}
	27% {opacity: 1; height: 10px; width: 10px; border-radius: 50%;}
	30% {height: 22px; width: 1px; border-radius: 0;} /*变竖线*/
	35% {-webkit-transform: translateX(0px);} /*暂停*/
	37% {-webkit-transform: translateX(-85px);} /*展开 1*/
	41% {-webkit-transform: translateX(-165px);} /*展开 2*/
	42% {-webkit-transform: translateX(-165px);} /*展开暂停*/
	43% {-webkit-transform: translateX(-230px);} /*左转*/
	48% {-webkit-transform: translateX(-165px);} /*归位*/
	49% {-webkit-transform: translateX(-165px);} /*归位暂停*/
	52% {-webkit-transform: translateX(-97px);} /*右转*/
	57% {-webkit-transform: translateX(-165px);} /*右转归位*/
	100% {height: 22px; width: 1px; border-radius: 0;-webkit-transform: translateX(-165px);}
}

/*rolling*/
@-webkit-keyframes rolling2 {
	0% {-webkit-transform: translateX(0px);}
	35% {-webkit-transform: translateX(0px); opacity: 0;} /*暂停*/
	37% {-webkit-transform: translateX(-45px); opacity: 1;} /*展开*/
	41% {-webkit-transform: translateX(-85px); opacity: 1;} /*展开*/
	42% {-webkit-transform: translateX(-85px);} /*展开暂停*/
	43% {-webkit-transform: translateX(-165px);} /*左转*/
	48% {-webkit-transform: translateX(-85px);} /*归位*/
	49% {-webkit-transform: translateX(-85px);} /*归位暂停*/
	52% {-webkit-transform: translateX(57px);} /*右转*/
	57% {-webkit-transform: translateX(-55px);} /*右转归位*/
	100% {-webkit-transform: translateX(-55px); opacity: 1;}
}

@-webkit-keyframes rolling3 {
	0% {-webkit-transform: translateX(0px);}
	35% {-webkit-transform: translateX(0px); opacity: 0;} /*暂停*/
	37% {-webkit-transform: translateX(45px); opacity: 1;} /*展开*/
	41% {-webkit-transform: translateX(85px); opacity: 1;} /*展开*/
	42% {-webkit-transform: translateX(85px);} /*展开暂停*/
	43% {-webkit-transform: translateX(-57px);} /*左转*/
	48% {-webkit-transform: translateX(85px);} /*归位*/
	49% {-webkit-transform: translateX(85px);} /*归位暂停*/
	52% {-webkit-transform: translateX(165px);} /*右转*/
	57% {-webkit-transform: translateX(55px);} /*右转归位*/
	100% {-webkit-transform: translateX(55px); opacity: 1;}
}

@-webkit-keyframes rolling4 {
	0% {-webkit-transform: translateX(0px);} 
	35% {-webkit-transform: translateX(0px); opacity: 0;} /*暂停*/
	37% {-webkit-transform: translateX(85px); opacity: 1;} /*展开*/
	41% {-webkit-transform: translateX(165px); opacity: 1;} /*展开*/
	42% {-webkit-transform: translateX(165px);} /*展开暂停*/
	43% {-webkit-transform: translateX(97px);} /*左转*/
	48% {-webkit-transform: translateX(165px);} /*归位*/
	49% {-webkit-transform: translateX(165px);} /*归位暂停*/
	52% {-webkit-transform: translateX(230px);} /*右转*/
	57% {-webkit-transform: translateX(165px);} /*右转归位*/
	100% {-webkit-transform: translateX(165px); opacity: 1;}
}

/*文字部分*/
@-webkit-keyframes child1 {
	0% {-webkit-transform: translateX(-235px); opacity: 0;}
	58% { opacity: 0;}
	62% {-webkit-transform: translateX(-235px); opacity: 1;}
	100% {-webkit-transform: translateX(-235px); opacity: 1;}
}

@-webkit-keyframes child2 {
	0% {-webkit-transform: translateX(-142px); opacity: 0;}
	58% { opacity: 0;}
	62% {-webkit-transform: translateX(-142px); opacity: 1;}
	100% {-webkit-transform: translateX(-142px); opacity: 1;}
}

@-webkit-keyframes child3 {
	0% {-webkit-transform: translateX(-30px); opacity: 0;}
	58% { opacity: 0;}
	62% {-webkit-transform: translateX(-30px); opacity: 1;}
	100% {-webkit-transform: translateX(-30px); opacity: 1;}
}

@-webkit-keyframes child4 {
	0% {-webkit-transform: translateX(83px); opacity: 0;}
	58% { opacity: 0;}
	62% {-webkit-transform: translateX(83px); opacity: 1;}
	100% {-webkit-transform: translateX(83px); opacity: 1;}
}

@-webkit-keyframes child5 {
	0% {-webkit-transform: translateX(185px); opacity: 0;}
	58% { opacity: 0;}
	62% {-webkit-transform: translateX(185px); opacity: 1;}
	100% {-webkit-transform: translateX(185px); opacity: 1;}
}
